@{
    ViewData["Title"] = "Error";
}

<div id="content">
    <div class="row">
        <div class="col-12">
            <h1>Oh no! Looks like there was an issue processing the request.</h1>
        </div>
    </div>
</div>