@{
    ViewData["Title"] = "Not Authorized";
}

<div id="content">
    <div class="row">
        <div class="col-12">
            <h1>Oh no! Looks like can't get here.</h1>
        </div>
    </div>
</div>