<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Master Catalog</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @await Html.PartialAsync("_Header")

        <div class="container mt-5">
            <main role="main" class="p-3 pb-5 ">
            @RenderBody()
        </main>
        </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
